[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
jedi = "*"
black = "*"

[packages]

[requires]
python_version = "3.8"

[flake8]
max-line-length = 99
ignore = ["E203","W503","W504"]

[scripts]
knock000="python3 knock000.py"
knock001="python3 knock001.py"
knock002="python3 knock002.py"
knock003="python3 knock003.py"
knock004="python3 knock004.py"
knock005="python3 knock005.py"
knock006="python3 knock006.py"
knock007="python3 knock007.py"
knock008="python3 knock008.py"
knock009="python3 knock009.py"
knock010="python3 knock010.py"
knock011="python3 knock011.py"
knock012="python3 knock012.py"
knock013="python3 knock013.py"
knock014="python3 knock014.py"
knock015="python3 knock015.py"
knock016="python3 knock016.py"
knock017="python3 knock017.py"
knock018="python3 knock018.py"
knock019="python3 knock019.py"
knock020="python3 knock020.py"
knock021="python3 knock021.py"
knock022="python3 knock022.py"
knock023="python3 knock023.py"
knock024="python3 knock024.py"
knock025="python3 knock025.py"
knock026="python3 knock026.py"
knock027="python3 knock027.py"
knock028="python3 knock028.py"
knock029="python3 knock029.py"
knock030="python3 knock030.py"
knock031="python3 knock031.py"
knock032="python3 knock032.py"
knock033="python3 knock033.py"
knock034="python3 knock034.py"
knock035="python3 knock035.py"
knock036="python3 knock036.py"
knock037="python3 knock037.py"
knock038="python3 knock038.py"
knock039="python3 knock039.py"
knock040="python3 knock040.py"
knock041="python3 knock041.py"
knock042="python3 knock042.py"
knock043="python3 knock043.py"
knock044="python3 knock044.py"
knock045="python3 knock045.py"
knock046="python3 knock046.py"
knock047="python3 knock047.py"
knock048="python3 knock048.py"
knock049="python3 knock049.py"
knock050="python3 knock050.py"
knock051="python3 knock051.py"
knock052="python3 knock052.py"
knock053="python3 knock053.py"
knock054="python3 knock054.py"
knock055="python3 knock055.py"
knock056="python3 knock056.py"
knock057="python3 knock057.py"
knock058="python3 knock058.py"
knock059="python3 knock059.py"
knock060="python3 knock060.py"
knock061="python3 knock061.py"
knock062="python3 knock062.py"
knock063="python3 knock063.py"
knock064="python3 knock064.py"
knock065="python3 knock065.py"
knock066="python3 knock066.py"
knock067="python3 knock067.py"
knock068="python3 knock068.py"
knock069="python3 knock069.py"
knock070="python3 knock070.py"
knock071="python3 knock071.py"
knock072="python3 knock072.py"
knock073="python3 knock073.py"
knock074="python3 knock074.py"
knock075="python3 knock075.py"
knock076="python3 knock076.py"
knock077="python3 knock077.py"
knock078="python3 knock078.py"
knock079="python3 knock079.py"
knock080="python3 knock080.py"
knock081="python3 knock081.py"
knock082="python3 knock082.py"
knock083="python3 knock083.py"
knock084="python3 knock084.py"
knock085="python3 knock085.py"
knock086="python3 knock086.py"
knock087="python3 knock087.py"
knock088="python3 knock088.py"
knock089="python3 knock089.py"
knock090="python3 knock090.py"
knock091="python3 knock091.py"
knock092="python3 knock092.py"
knock093="python3 knock093.py"
knock094="python3 knock094.py"
knock095="python3 knock095.py"
knock096="python3 knock096.py"
knock097="python3 knock097.py"
knock098="python3 knock098.py"
knock099="python3 knock099.py"
knock100="python3 knock100.py"
